@font-face {
  font-family: 'Silant';
  src:
  url('Silant.eot') format('embedded-opentype'),
    url('Silant.ttf') format('truetype'),
    url('Silant.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.silant {
  font-family: 'Silant' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.silant-service:before {
  content: url("Service.svg");
}
.silant-reclamation:before {
  content: url("Reclamation.svg");
}
.silant-client:before {
  content: url("Client.svg");
}
.silant-maintenance:before {
  content: url("Maintenance.svg");
}
.silant-vehicle:before {
  content: url("Vehicles.svg");
}