{% extends 'base.html' %}
{% load static %}
{% block content %}
<a class="back-page" href="{% url 'reclamation_list' %}"><i class="fas fa-long-arrow-alt-left"></i>Назад</a>
<h3>Изменение рекламации</h3>
<form class="form" name="reclamationForm" method="post" action="{{request.path}}">
    {% csrf_token %}
    <div><label for="id_date_of_refusal">{{form.date_of_refusal.label}}</label> {{form.date_of_refusal}}</div>
    <div class="united">
        <label for="id_machine">{{form.machine.label}}</label> {{form.machine}}
        <label for="id_time_of_operation">{{form.time_of_operation.label}}</label> {{form.time_of_operation}}
    </div>
    <div><label for="id_type_of_refusal">{{form.type_of_refusal.label}}</label> {{form.type_of_refusal}}</div>
    <div><label for="id_specification_of_refusal">{{form.specification_of_refusal.label}}</label> {{form.specification_of_refusal}}</div>
    <div><label for="id_method_of_repair">{{form.method_of_repair.label}}</label> {{form.method_of_repair}}</div>
    <div><label for="id_repair_parts">{{form.repair_parts.label}}</label> {{form.repair_parts}}</div>
    <div class="united">
        <label for="id_date_of_repair">{{form.date_of_repair.label}}</label> {{form.date_of_repair}}
        <label for="id_downtime">{{form.downtime.label}}</label> {{form.downtime}}
    </div>
    <div><label for="id_service_company">{{form.service_company.label}}</label> {{form.service_company}}</div>
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
