{% extends 'base.html' %}
{% load static %}
{% block content %}
<a class="back-page" href="{% url 'machine_list' %}"><i class="fas fa-long-arrow-alt-left"></i>Назад</a>
<h3>Создание машины</h3>
<form class="form" name="machineForm" method="post" action="{{request.path}}">
    {% csrf_token %}
    <div class="united">
        <label for="id_machine_number">{{form.machine_number.label}}</label> {{form.machine_number}}
        <label for="id_machine_model">{{form.machine_model.label}}</label> {{form.machine_model}}
    </div>
    <div class="united">
        <label for="id_motor_model">{{form.motor_model.label}}</label> {{form.motor_model}}
        <label for="id_motor_number">{{form.motor_number.label}}</label> {{form.motor_number}}
    </div>
    <div class="united">
        <label for="id_transmission_model">{{form.transmission_model.label}}</label> {{form.transmission_model}}
        <label for="id_transmission_number">{{form.transmission_number.label}}</label> {{form.transmission_number}}
    </div>
    <div class="united">
        <label for="id_main_axle_model">{{form.main_axle_model.label}}</label> {{form.main_axle_model}}
        <label for="id_main_axle_number">{{form.main_axle_number.label}}</label> {{form.main_axle_number}}
    </div>
    <div class="united">
        <label for="id_steering_axle_model">{{form.steering_axle_model.label}}</label> {{form.steering_axle_model}}
        <label for="id_steering_axle_number">{{form.steering_axle_number.label}}</label> {{form.steering_axle_number}}
    </div>
    <div class="united">
        <label for="id_supply_agreement">{{form.supply_agreement.label}}</label> {{form.supply_agreement}}
        <label for="id_shipping_date">{{form.shipping_date.label}}</label> {{form.shipping_date}}
    </div>
    <div><label for="id_recipient">{{form.recipient.label}}</label> {{form.recipient}}</div>
    <div><label for="id_shipping_address">{{form.shipping_address.label}}</label> {{form.shipping_address}}</div>
    <div><label for="id_equipment">{{form.equipment.label}}</label> {{form.equipment}}</div>
    <div class="united">
        <label for="id_client">{{form.client.label}}</label> {{form.client}}
        <label for="id_service_company">{{form.service_company.label}}</label> {{form.service_company}}
    </div>	
    <button type="submit">Сохранить</button>
</form>
{% endblock %}
